<%= provide(:title, "Press") %>
<div class="top-h-wrapper">
	<h1>Press</h1>
</div>
<br>
<br>
<div class="left-push"></div>
<div class="container center">
<h2>Here are some blogs I've been featured in:</h2>
<%= link_to image_tag("http://bostinno.streetwise.co/assets/fdec7307/img/1/site_logo_white.png", alt: 'BostInno', class: 'full-logo'), "http://bostinno.streetwise.co/all-series/saveohno-kickstarter-campaign-game-to-help-fight-climate-change/"  %>
&nbsp;&nbsp;&nbsp;
<%= link_to image_tag("http://i159.photobucket.com/albums/t149/dhusted1/Screen%20Shot%202015-04-12%20at%204.11.20%20PM_zpskq41y9hd.png", alt: 'Babson Blog', class: 'full-logo'), "http://blogs.babson.edu/social/2015/06/17/social-innovation-showcased-in-babson-summer-startups/" %>
&nbsp;&nbsp;&nbsp;
<%= link_to image_tag("http://www.boston-enet.org/sites/g/files/g236382/themes/mythemes/acq__081611/images/enetlogoNEW.jpg", alt: 'Boston ENET Blog', class: 'full-logo'), "http://www.boston-enet.org/blog/follow-interview-dylan-husted-founder-saveohnoorg" %>
<br>
<br>
<%= link_to image_tag("http://heapsmag.s3.amazonaws.com/wp-content/uploads/2015/04/heaps_log.png", alt: 'HEAPS Magazine', class: 'full-logo'), "http://heapsmag.com/%E5%9C%B0%E7%90%83%E3%81%AE%E6%95%91%E4%B8%96%E4%B8%BB%E3%81%AF%E3%80%81%E3%82%AD%E3%83%83%E3%82%AF%E3%82%B9%E3%82%BF%E3%83%BC%E3%82%BF%E3%83%BC%E3%81%AB%E3%81%84%E3%81%9F%EF%BC%81/" %>
&nbsp;&nbsp;&nbsp;
<%= link_to image_tag("https://www.eboc.co/blog/wp-content/themes/eboc/img/logo.png", alt: 'EBOC.co', class: 'full-logo'), "https://www.eboc.co/blog/8-must-download-apps-recommended-by-business-owners-0715110" %>
&nbsp;&nbsp;&nbsp;
<%= link_to image_tag("energy-teachers.png", alt: 'EnergyTeachers.org Blog', class: 'full-logo'), "http://energyteachers.org/ReadArticle.php?id=523" %>
&nbsp;&nbsp;&nbsp;
<%= link_to image_tag("yukai-chou-logo.png", alt: 'Yu-Kai Chou Blog', class: 'full-logo'), "http://www.yukaichou.com/gamification-guest-posts/octalysis-saveohnoorg-gamified-platform-climate-activism/#.VSrQjhPF-Ns" %>
</div>