<%= provide(:title, "Press") %>
<div class="top-h-wrapper">
	<h1>Press</h1>
</div>
<br>
<br>
<div class="left-push"></div>
<div class="container center">
<h2>Here are some blogs I've been featured in:</h2>
<%= link_to image_tag("http://bostinno.streetwise.co/assets/fdec7307/img/1/site_logo_white.png", alt: 'BostInno', class: 'full-logo'), "http://bostinno.streetwise.co/all-series/saveohno-kickstarter-campaign-game-to-help-fight-climate-change/"  %>
&nbsp;&nbsp;&nbsp;
<%= link_to image_tag("http://i159.photobucket.com/albums/t149/dhusted1/Screen%20Shot%202015-04-12%20at%204.11.20%20PM_zpskq41y9hd.png", alt: 'Babson Blog', class: 'full-logo'), "http://blogs.babson.edu/news/2014/12/10/saveohno-org-raises-awareness-of-climate-change-through-gamification/" %>
&nbsp;&nbsp;&nbsp;
<%= link_to image_tag("https://captainup.com/uploads/store/logo/519513e8d06c26e2c0000002/thumb_Yu-kai_Chou_Invisible_Logo.png", alt: 'Yu-Kai Chou Blog', class: 'full-logo'), "http://www.yukaichou.com/gamification-guest-posts/octalysis-saveohnoorg-gamified-platform-climate-activism/#.VSrQjhPF-Ns" %>
<%= link_to image_tag("http://www.boston-enet.org/sites/g/files/g236382/themes/mythemes/acq__081611/images/enetlogoNEW.jpg", alt: 'Boston ENET Blog', class: 'full-logo'), "http://www.boston-enet.org/blog/follow-interview-dylan-husted-founder-saveohnoorg" %>
</div>