<footer>
<div class="footer-left">
	<%= link_to 'Home', root_path %>
	&nbsp;&nbsp;&nbsp;
	<%= link_to 'About', about_path %>
	&nbsp;&nbsp;&nbsp;
	<%= link_to 'Contact', contact_path %>
</div>	
<div class="footer-middle">© Dylan Husted 2015</div>
<div class="footer-right">	
	<%= link_to 'Startups', startups_path %>
	&nbsp;&nbsp;&nbsp;
	<%= link_to 'Press', press_path %>
	&nbsp;&nbsp;&nbsp;
	<%= link_to 'Blog', 'https://www.saveohno.org/blog' %>
</div>
</footer>