<footer>
<div class="footer-left">
	<%= link_to 'Home', root_path %>
	&nbsp;&nbsp;&nbsp;
	<%= link_to 'About' %>
	&nbsp;&nbsp;&nbsp;
	<%= link_to 'Portfolio' %>
</div>	
<div class="footer-middle">© Dylan Husted 2015</div>
<div class="footer-right">	
	<%= link_to 'Startups' %>
	&nbsp;&nbsp;&nbsp;
	<%= link_to 'Contact' %>
	&nbsp;&nbsp;&nbsp;
	<%= link_to 'Blog' %>
</div>
</footer>